.gridcontainer {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    border: none;
    display: flex;
    flex: 1;
}

.gridsquare {
    border: 1px solid black;
    flex: 1;
    


}